.title {
    text-indent: 0;
    text-align: center;
    line-height: 100%;
    font-size: 1.5em;
    font-weight: bold;
}
.no, .author {
    text-indent: 0;
    text-align: center;
    line-height: 100%;
    font-size: 0.8em;
    font-weight: bold;
}
.content, .intro {
    text-indent: 2em;
    margin: 0;
    line-height: 150%;
}
.preface, .content-divider {
    text-align: center;
    text-indent: 0;
}
.empty {
    text-indent: 0;
    text-align: center;
    line-height: 100%;
    font-size: 2.5em;
    font-weight: bold;
}
.chapter-divider {
    margin-bottom: 3em;
}